In [7]:
#install kaggle
!pip install kaggle

Requirement already satisfied: kaggle in c:\users\prasa\anaconda3\lib\site-packages (1.6.17)
Requirement already satisfied: six>=1.10 in c:\users\prasa\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\prasa\anaconda3\lib\site-packages (from kaggle) (2024.8.30)
Requirement already satisfied: python-dateutil in c:\users\prasa\anaconda3\lib\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: requests in c:\users\prasa\anaconda3\lib\site-packages (from kaggle) (2.32.2)
Requirement already satisfied: tqdm in c:\users\prasa\anaconda3\lib\site-packages (from kaggle) (4.66.4)
Requirement already satisfied: python-slugify in c:\users\prasa\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in c:\users\prasa\anaconda3\lib\site-packages (from kaggle) (2.2.2)
Requirement already satisfied: bleach in c:\users\prasa\anaconda3\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: packaging in c:\users\prasa\anaconda3\lib\site-packages (from bleach->kaggle) (23.2)
Requirement already satisfied: webencodings in c:\users\prasa\anaconda3\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\prasa\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\prasa\anaconda3\lib\site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\prasa\anaconda3\lib\site-packages (from requests->kaggle) (3.7)
Requirement already satisfied: colorama in c:\users\prasa\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.6)

In [9]:
#importing kaggle
import kaggle

In [11]:
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
orders.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [15]:
#extract file from zip file
import zipfile
zip_ref = zipfile.ZipFile('orders.csv.zip') 
zip_ref.extractall() # extract file to dir
zip_ref.close() # close file

In [17]:
#read data from the file and handle null values
import pandas as pd
df = pd.read_csv('orders.csv',na_values=['Not Available','unknown'])
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [19]:
#rename columns names ..make them lower case and replace space with underscore
df.rename(columns={'Order Id':'order_id', 'City':'city'})
df.columns=df.columns.str.lower()
df.columns=df.columns.str.replace(' ','_')
df.head(5)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [25]:
#derive new columns discount , sale price and profit
df['discount']=df['list_price']*df['discount_percent']*.01
df['sale_price']= df['list_price']-df['discount']
df['profit']=df['sale_price']-df['cost_price']
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,1.2,28.8,-1.2
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,3.6,86.4,16.4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2,5.2,254.8,34.8
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,0.9,29.1,-0.9
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,7.2,232.8,22.8

In [21]:
#convert order date from object data type to datetime
df['order_date']=pd.to_datetime(df['order_date'],format="%Y-%m-%d")
df.dtypes

order_id                     int64
order_date          datetime64[ns]
ship_mode                   object
segment                     object
country                     object
city                        object
state                       object
postal_code                  int64
region                      object
category                    object
sub_category                object
product_id                  object
cost_price                   int64
list_price                   int64
quantity                     int64
discount_percent             int64
dtype: object

In [23]:
#drop cost price list price and discount percent columns
df.drop(columns=['list_price','cost_price','discount_percent'],inplace=True)

In [25]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\prasa\anaconda3\lib\site-packages (1.1.1)

In [26]:
import sqlalchemy as sal

# MySQL connection details
username = "root"  # Replace with your MySQL username
password = "admin"  # Replace with your MySQL password
host = "127.0.0.1"  # Use your server's IP if connecting remotely
port = "3306"  # Default MySQL port
database = "code"  # Replace with your actual schema (database) name

# Create the MySQL connection engine using pymysql
engine = sal.create_engine(f'mysql+pymysql://{username}:{password}@{host}:{port}/{database}')

# Establish connection
conn = engine.connect()
print("Connected to MySQL successfully!")

Connected to MySQL successfully!

In [27]:
#load the data into mysql server using append option
df.to_sql('df_orders', con=engine, index=False, if_exists='append')

9994

In [1]:
# Install required packages
!pip install kaggle sqlalchemy pymysql pandas

# Import necessary libraries
import kaggle
import zipfile
import pandas as pd
from sqlalchemy import create_engine

# Download dataset from Kaggle
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

# Extract the dataset from ZIP
with zipfile.ZipFile('orders.csv.zip', 'r') as zip_ref:
    zip_ref.extractall()  # Extract files into the current directory

# Load dataset and handle missing values
df = pd.read_csv('orders.csv', na_values=['Not Available', 'unknown'])

# Standardize column names (lowercase & replace spaces with underscores)
df.columns = df.columns.str.lower().str.replace(' ', '_')

# Check if cost_price column exists
if 'cost_price' not in df.columns:
    print("Column 'cost_price' is missing from the dataset. Please check your CSV file.")
    exit()

# Create new columns: Discount, Sale Price, and Profit
df['discount'] = df['list_price'] * df['discount_percent'] * 0.01
df['sale_price'] = df['list_price'] - df['discount']
df['profit'] = df['sale_price'] - df['cost_price']

# Convert 'order_date' to datetime format
df['order_date'] = pd.to_datetime(df['order_date'], format="%Y-%m-%d")

# Database connection setup (Modify with your MySQL credentials)
DB_USER = "root"
DB_PASSWORD = "admin"
DB_HOST = "127.0.0.1"
DB_NAME = "code"

engine = create_engine(f"mysql+pymysql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}/{DB_NAME}")

# Drop existing table and recreate it to ensure correct schema
df.to_sql('df_orders', con=engine, index=False, if_exists='replace')

# Display the first 5 rows as output
print(df.head())

Requirement already satisfied: kaggle in c:\users\prasa\appdata\local\programs\python\python311\lib\site-packages (1.6.17)
Requirement already satisfied: sqlalchemy in c:\users\prasa\appdata\local\programs\python\python311\lib\site-packages (2.0.38)
Requirement already satisfied: pymysql in c:\users\prasa\appdata\local\programs\python\python311\lib\site-packages (1.1.1)
Requirement already satisfied: pandas in c:\users\prasa\appdata\local\programs\python\python311\lib\site-packages (2.2.3)
Requirement already satisfied: six>=1.10 in c:\users\prasa\appdata\local\programs\python\python311\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\prasa\appdata\local\programs\python\python311\lib\site-packages (from kaggle) (2024.8.30)
Requirement already satisfied: python-dateutil in c:\users\prasa\appdata\local\programs\python\python311\lib\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: requests in c:\users\prasa\appdata\local\programs\python\python311\lib\site-packages (from kaggle) (2.32.3)
Requirement already satisfied: tqdm in c:\users\prasa\appdata\local\programs\python\python311\lib\site-packages (from kaggle) (4.67.1)
Requirement already satisfied: python-slugify in c:\users\prasa\appdata\local\programs\python\python311\lib\site-packages (from kaggle) (8.0.4)
Requirement already satisfied: urllib3 in c:\users\prasa\appdata\local\programs\python\python311\lib\site-packages (from kaggle) (2.2.3)
Requirement already satisfied: bleach in c:\users\prasa\appdata\local\programs\python\python311\lib\site-packages (from kaggle) (6.2.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\prasa\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\prasa\appdata\roaming\python\python311\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: numpy>=1.23.2 in c:\users\prasa\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.1.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\prasa\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\prasa\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: webencodings in c:\users\prasa\appdata\local\programs\python\python311\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\prasa\appdata\local\programs\python\python311\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\prasa\appdata\local\programs\python\python311\lib\site-packages (from requests->kaggle) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\prasa\appdata\local\programs\python\python311\lib\site-packages (from requests->kaggle) (3.10)
Requirement already satisfied: colorama in c:\users\prasa\appdata\local\programs\python\python311\lib\site-packages (from tqdm->kaggle) (0.4.6)
Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
orders.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
   order_id order_date       ship_mode    segment        country  \
0         1 2023-03-01    Second Class   Consumer  United States
1         2 2023-08-15    Second Class   Consumer  United States
2         3 2023-01-10    Second Class  Corporate  United States
3         4 2022-06-18  Standard Class   Consumer  United States
4         5 2022-07-13  Standard Class   Consumer  United States

              city       state  postal_code region         category  \
0        Henderson    Kentucky        42420  South        Furniture
1        Henderson    Kentucky        42420  South        Furniture
2      Los Angeles  California        90036   West  Office Supplies
3  Fort Lauderdale     Florida        33311  South        Furniture
4  Fort Lauderdale     Florida        33311  South  Office Supplies

  sub_category       product_id  cost_price  list_price  quantity  \
0    Bookcases  FUR-BO-10001798         240         260         2
1       Chairs  FUR-CH-10000454         600         730         3
2       Labels  OFF-LA-10000240          10          10         2
3       Tables  FUR-TA-10000577         780         960         5
4      Storage  OFF-ST-10000760          20          20         2

   discount_percent  discount  sale_price  profit
0                 2       5.2       254.8    14.8
1                 3      21.9       708.1   108.1
2                 5       0.5         9.5    -0.5
3                 2      19.2       940.8   160.8
4                 5       1.0        19.0    -1.0